/* body.invert {
  filter: invert(1);
} */
.feedback-form {
  width: 480px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid var(--color-border);
  border-radius: 10px;
}

.feedback-form > label {
  width: 100%;
  margin-bottom: 16px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.feedback-form input,
.feedback-form textarea {
  font: inherit;
  padding: 8px;

  border: 1px solid var(--color-border);
  background-color: inherit;
  color: inherit;
    border-radius: 8px;
}

.feedback-form textarea {
  resize: none;
}
.feedback-form button {
  width: 100%;
  height: 46px;
  border: 1px solid var(--color-border);
  color: var( --color-secondary);
  background-color: var( --color-primary);
  border-radius: 8px;
}

.toggler {
  --width: 40px;

  appearance: unset;
  display: flex;
  align-items: center;
  margin-left: auto;

  width: var(--width);
  height: 20px;
  padding: 2px;
  border: 1px solid var(--color-border);
  background-color: var(--color-bg);
  border-radius: 16px;
  cursor: pointer;
    transition: 150ms ease-in;
}
.toggler:checked {
  background-color: var(--color-primary);
}
.toggler::after {
  content: '';
  width: 16px;
  height: 16px;

  background-color: var(--color-primary);
  border-radius: 50%;
  transition: 150ms ease;
}
.toggler:checked::after {
   background-color: var(--color-bg);
   transform: translate(calc(var(--width) - 100% - 6px));
}
